body{
    background-color: black;
    color: white;
    font-size: small;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
header {
    background: #f7df1e;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}
img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
