body{
    background-color: black;
    color: white;
    font-size: small;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
