body{
    background-color: black;
    color: white;
    font-size: small;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contacto{
    background-color: bisque;
    font-size: 15px;
    
}
